.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo__img {
    height: 60px;
  }
  .logo__name {
    font-size: 40px;
    float: left;
    padding-right:20px;
  }
  span{
      color: orange;
  }
  .navbar {
    display: flex;
    top: 0px;
    justify-content: space-between;
    float: right;
    background-color:rgba(0, 0, 0, 0.315);
    width: 50%;
    margin-top: -5%;
  }
  .nav_item {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
  .nav_item1 {
    font-size: 35px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
  }
  .nav_item5 {
    border: 1px solid orange;
    background-color: clear;
    text-decoration: none;
  }
  body {
    background-image: url(images/White-yellow.png);
    background-size: cover;
    background-repeat: no-repeat;
}


