.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo__img {
    height: 60px;
  }
  .logo__name {
    font-size: 40px;
    float: left;
    padding-right:20px;
  }
  span{
      color: orange;
  }
  .navbar {
    display: flex;
    top: 0px;
    justify-content: space-between;
    float: right;
    background-color:rgba(0, 0, 0, 0.315);
    width: 50%;
    margin-top: -5%;
  }
  .nav_item {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
  .nav_item1 {
    font-size: 35px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
  }
  .nav_item5 {
    border: 1px solid orange;
    background-color: clear;
    text-decoration: none;
  }
body {
    background-image: url(images/White-yellow.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.city{
    float: right;
    padding-right: 450px;
    padding-top: 30px;
}
.section__heading{
    font-size: 60px;
    padding-left: 30px;
    padding-top: 200px;
}
.section_main p{
    font-size: 30px;
    padding-left: 30px;
    margin-bottom: 100px;
}
.order{
    font-size: 20px;
    margin: 30px 100px;
    border-radius: 20px 20px 0px 20px;
    padding: 20px;
    color:white;
    font-weight: bold;
    background-color: orange;
    margin-bottom: 300px; 
}
.service_charter{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 50px;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin-bottom: 200px;
  }
  .service {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 10px 14px 0px rgba(0, 0, 0, 0.55);
  }
  .service__img {
    height: 100px;
    width: 150px;
    padding-left: 100px;
  }
  .service__title {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 10px 2px;
  }
  .service__desc {
    font-size: 20px;
  }


